.index {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #f8f8f8;
  height: 3715px;
  overflow: hidden;
  position: relative;
  width: 393px;
}

.index .icon-material {
  height: 21px;
  left: 20px;
  position: absolute;
  top: 23px;
  width: 13px;
}

.index .text-wrapper {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.index .cart-and-chat-icon {
  height: 25px;
  left: 301px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 72px;
}

.index .overlap {
  background-color: #ffffff;
  height: 484px;
  left: 0;
  position: absolute;
  top: 58px;
  width: 393px;
}

.index .icon-awesome-rupee {
  height: 10px;
  left: 20px;
  position: absolute;
  top: 410px;
  width: 7px;
}

.index .screenshot {
  height: 31px;
  left: 350px;
  object-fit: cover;
  position: absolute;
  top: 397px;
  width: 29px;
}

.index .overlap-group {
  background-image: url(https://cdn.animaapp.com/projects/6501de72bb8217446f7235ad/releases/6502d34e72965ae6a063862d/img/61rvcwji7dl--sx679--removebg-preview.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 347px;
  left: 27px;
  position: absolute;
  top: 19px;
  width: 346px;
}

.index .line {
  height: 2px;
  left: 111px;
  position: absolute;
  top: 339px;
  width: 17px;
}

.index .img {
  height: 2px;
  left: 136px;
  position: absolute;
  top: 339px;
  width: 17px;
}

.index .line-2 {
  height: 2px;
  left: 161px;
  position: absolute;
  top: 339px;
  width: 17px;
}

.index .line-3 {
  height: 2px;
  left: 186px;
  position: absolute;
  top: 339px;
  width: 17px;
}

.index .line-4 {
  height: 2px;
  left: 211px;
  position: absolute;
  top: 339px;
  width: 17px;
}

.index .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 27px;
  font-weight: 600;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 392px;
}

.index .text-wrapper-3 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #b6b6b6;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 114px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: line-through;
  top: 399px;
}

.index .text-wrapper-4 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 21px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 435px;
}

.index .overlap-2 {
  background-color: #ffffff;
  height: 86px;
  left: 0;
  position: absolute;
  top: 549px;
  width: 393px;
}

.index .p {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.index .component {
  height: 21px;
  left: 20px;
  position: absolute;
  top: 46px;
  width: 137px;
}

.index .rectangle-wrapper {
  background-color: #181824;
  border-radius: 6px;
  height: 17px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 18px;
}

.index .rectangle {
  background-color: #181824;
  border-radius: 6px;
  height: 17px;
}

.index .text-wrapper-5 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.index .component-2 {
  height: 21px;
  left: 186px;
  position: absolute;
  top: 46px;
  width: 140px;
}

.index .div-wrapper {
  background-color: #181824;
  border-radius: 6px;
  height: 17px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 21px;
}

.index .rectangle-2 {
  background-color: #dfdede;
  border-radius: 6px;
  height: 17px;
}

.index .text-wrapper-6 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: line-through;
  top: -1px;
}

.index .overlap-3 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 642px;
  width: 393px;
}

.index .rectangle-3 {
  background-color: #ffffff;
  height: 129px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.index .icon-material-done-wrapper {
  border: 1px solid;
  border-color: #ff6900;
  border-radius: 6px;
  height: 17px;
  left: 20px;
  position: absolute;
  top: 17px;
  width: 18px;
}

.index .icon-material-done {
  height: 10px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 13px;
}

.index .img-wrapper {
  border: 1px solid;
  border-color: #ff6900;
  border-radius: 6px;
  height: 17px;
  left: 20px;
  position: absolute;
  top: 91px;
  width: 18px;
}

.index .mi-screen-protect {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.index .component-3 {
  height: 21px;
  left: 20px;
  position: absolute;
  top: 51px;
  width: 238px;
}

.index .text-wrapper-7 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.index .element-years-warranty {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.index .component-4 {
  border: 1px solid;
  border-color: #ff6900;
  border-radius: 6px;
  height: 17px;
  left: 191px;
  position: absolute;
  top: 91px;
  width: 18px;
}

.index .complete-protection {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 217px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
}

.index .overlap-4 {
  background-color: #ffffff;
  height: 39px;
  left: 0;
  position: absolute;
  top: 778px;
  width: 393px;
}

.index .icon-awesome-star {
  height: 12px;
  left: 57px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.index .icon-awesome-star-2 {
  height: 12px;
  left: 79px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.index .icon-awesome-star-3 {
  height: 12px;
  left: 101px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.index .icon-awesome-star-4 {
  height: 12px;
  left: 123px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.index .icon-awesome-star-5 {
  height: 12px;
  left: 145px;
  position: absolute;
  top: 14px;
  width: 12px;
}

.index .text-wrapper-8 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.index .element-reviews {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 240px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.index .icon-material-2 {
  height: 14px;
  left: 365px;
  position: absolute;
  top: 16px;
  width: 8px;
}

.index .overlap-5 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 119px;
  left: 20px;
  position: absolute;
  top: 824px;
  width: 353px;
}

.index .revieew-lady-icon {
  height: 37px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}

.index .overlap-6 {
  height: 39px;
  left: 58px;
  position: absolute;
  top: 10px;
  width: 142px;
}

.index .text-wrapper-9 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.index .text-wrapper-10 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
}

.index .icon-awesome-star-6 {
  height: 12px;
  left: 238px;
  position: absolute;
  top: 16px;
  width: 12px;
}

.index .icon-awesome-star-7 {
  height: 12px;
  left: 260px;
  position: absolute;
  top: 16px;
  width: 12px;
}

.index .icon-awesome-star-8 {
  height: 12px;
  left: 282px;
  position: absolute;
  top: 16px;
  width: 12px;
}

.index .icon-awesome-star-9 {
  height: 12px;
  left: 304px;
  position: absolute;
  top: 16px;
  width: 12px;
}

.index .icon-awesome-star-10 {
  height: 12px;
  left: 326px;
  position: absolute;
  top: 16px;
  width: 12px;
}

.index .amazing-phone-fast {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 59px;
}

.index .text-wrapper-11 {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
}

.index .overlap-7 {
  height: 3076px;
  left: -3px;
  position: absolute;
  top: 958px;
  width: 397px;
}

.index .rectangle-4 {
  background-color: #ffffff;
  height: 2743px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 393px;
}

.index .rectangle-5 {
  background-color: #ffffff;
  height: 2669px;
  left: 0;
  position: absolute;
  top: 83px;
  width: 393px;
}

.index .rectangle-6 {
  background-color: #ffffff;
  height: 2959px;
  left: 4px;
  position: absolute;
  top: 117px;
  width: 393px;
}

.index .image-removebg {
  height: 243px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 150px;
}

.index .line-5 {
  height: 2px;
  left: 4px;
  position: absolute;
  top: 54px;
  width: 392px;
}

.index .specifications {
  -webkit-text-stroke: 1px #b6b6b6;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.index .line-6 {
  height: 56px;
  left: 204px;
  position: absolute;
  top: 0;
  width: 2px;
}

.index .MIUI {
  -webkit-text-stroke: 1px #999898;
  color: #999898;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.index .storage-RAM {
  -webkit-text-stroke: 1px #999898;
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 393px;
}

.index .span {
  color: #414040;
  font-weight: 600;
}

.index .text-wrapper-12 {
  color: #747373;
  font-size: 13px;
}

.index .line-7 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 566px;
  width: 345px;
}

.index .text-wrapper-13 {
  -webkit-text-stroke: 1px #999898;
  color: #414040;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 578px;
}

.index .height-width {
  -webkit-text-stroke: 1px #999898;
  color: #747373;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 617px;
}

.index .data-provided-by {
  -webkit-text-stroke: 1px #999898;
  color: #747373;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 702px;
}

.index .line-8 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 792px;
  width: 345px;
}

.index .text-wrapper-14 {
  -webkit-text-stroke: 1px #999898;
  color: #414040;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 805px;
}

.index .leica-professional {
  -webkit-text-stroke: 1px #999898;
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 826px;
}

.index .text-wrapper-15 {
  color: #747373;
}

.index .text-wrapper-16 {
  color: #414040;
  font-size: 20px;
  font-weight: 600;
}

.index .text-wrapper-17 {
  color: #414040;
}

.index .text-wrapper-18 {
  -webkit-text-stroke: 1px #999898;
  color: #414040;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1383px;
}

.index .element-bit {
  -webkit-text-stroke: 1px #999898;
  color: #747373;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1426px;
}

.index .line-9 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 1350px;
  width: 345px;
}

.index .line-10 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 1796px;
  width: 345px;
}

.index .text-wrapper-19 {
  -webkit-text-stroke: 1px #999898;
  color: #414040;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1833px;
}

.index .snapdragon-gen {
  -webkit-text-stroke: 1px #999898;
  color: #747373;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1866px;
}

.index .line-11 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 2100px;
  width: 345px;
}

.index .xiaomi-surge-battery {
  -webkit-text-stroke: 1px #999898;
  color: #747373;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2168px;
}

.index .line-12 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 2461px;
  width: 345px;
}

.index .text-wrapper-20 {
  -webkit-text-stroke: 1px #999898;
  color: #414040;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2126px;
}

.index .dual-sim-nano-nano {
  -webkit-text-stroke: 1px #999898;
  color: #747373;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2545px;
}

.index .network-connectivity {
  -webkit-text-stroke: 1px #999898;
  color: #414040;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2510px;
}
